<section id="">
  <div class="waffles" [ngClass]="{'non-intro':hideIntro}" >

    <!--<span class="logo"></span>-->

    <ul class="header">
      <div class="mobClick">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <img src="assets/img/logo.png" class="logoImg"
        style="width:80px; height:45px;margin-right:30px;position:relative;bottom:10px;">

      <div class="siteNav">
        <div class="siteNav-close">
          <img src="assets/img/close.png" alt="">
        </div>
        <li>
          <a href="#project">Project</a>
        </li>
        <li>
          <a href="#roadmap">Roadmap</a>
        </li>

        <li>
          <a href="#footer">Opensea</a>
        </li>
        <li>
          <a href="#faq">FAQ</a>
        </li>
      </div>
    </ul>
    <span class="social-icon-bar">
      <span><a href="https://twitter.com/JustWaffles_nft" target="_blank" style="color:#141b33"><i
            class="fab fa-twitter"></i></a></span>
      <span><a href="https://www.instagram.com/justwafflesnft/" target="_blank" style="color:#141b33"><i
            class="fab fa-instagram"></i></a></span>
      <span><a href="http://discord.gg/justwaffles" target="_blank" style="color:#141b33"><i
            class="fab fa-discord"></i></a></span>
    </span>

    <div class="row" [ngClass]="{'d-none':hideIntro}">
      <div class="col-sm-6">
        <div class="img-group">
          <div class="img-group-single">
            <div class="owl-carousel hero-carousal">
              <div class="item"><img src="assets/img/1343.png" alt=""></div>
              <div class="item"><img src="assets/img/00004.png" alt=""></div>
              <div class="item"><img src="assets/img/00005.png" alt=""></div>
              <div class="item"><img src="assets/img/00014.png" alt=""></div>
            </div>
          </div>
          <div class="img-group-single">
            <div class="owl-carousel hero-carousal2">
              <div class="item"><img src="assets/img/1333.png" alt=""></div>
              <div class="item"><img src="assets/img/00016.png" alt=""></div>
              <div class="item"><img src="assets/img/00019.png" alt=""></div>
              <div class="item"><img src="assets/img/00020.png" alt=""></div>
            </div>
          </div>
          <div class="img-group-single">
            <div class="owl-carousel hero-carousal3">
              <div class="item"><img src="assets/img/1356.png" alt=""></div>
              <div class="item"><img src="assets/img/00030.png" alt=""></div>
              <div class="item"><img src="assets/img/00053.png" alt=""></div>
              <div class="item"><img src="assets/img/00057.png" alt=""></div>
            </div>
          </div>
          <div class="img-group-single">
            <div class="owl-carousel hero-carousal3">
              <div class="item"><img src="assets/img/1347.png" alt=""></div>
              <div class="item"><img src="assets/img/00060.png" alt=""></div>
              <div class="item"><img src="assets/img/00066.png" alt=""></div>
              <div class="item"><img src="assets/img/00086.png" alt=""></div>
            </div>
          </div>
          <div class="img-group-single">
            <div class="owl-carousel hero-carousal2">
              <div class="item"><img src="assets/img/1351.png" alt=""></div>
              <div class="item"><img src="assets/img/1359.png" alt=""></div>
              <div class="item"><img src="assets/img/1356.png" alt=""></div>
              <div class="item"><img src="assets/img/1351.png" alt=""></div>
            </div>
          </div>
          <div class="img-group-single">
            <div class="owl-carousel hero-carousal">
              <div class="item"><img src="assets/img/1341.png" alt=""></div>
              <div class="item"><img src="assets/img/1349.png" alt=""></div>
              <div class="item"><img src="assets/img/1347.png" alt=""></div>
              <div class="item"><img src="assets/img/1351.png" alt=""></div>
            </div>
          </div>
          <div class="img-group-single">
            <div class="owl-carousel hero-carousal">
              <div class="item"><img src="assets/img/1359.png" alt=""></div>
              <div class="item"><img src="assets/img/00087.png" alt=""></div>
              <div class="item"><img src="assets/img/00112.png" alt=""></div>
              <div class="item"><img src="assets/img/00125.png" alt=""></div>
            </div>
          </div>
          <div class="img-group-single">
            <div class="owl-carousel hero-carousal2">
              <div class="item"><img src="assets/img/1334.png" alt=""></div>
              <div class="item"><img src="assets/img/1333.png" alt=""></div>
              <div class="item"><img src="assets/img/1334.png" alt=""></div>
              <div class="item"><img src="assets/img/1341.png" alt=""></div>
            </div>
          </div>
          <div class="img-group-single">
            <div class="owl-carousel hero-carousal3">
              <div class="item"><img src="assets/img/1349.png" alt=""></div>
              <div class="item"><img src="assets/img/1343.png" alt=""></div>
              <div class="item"><img src="assets/img/1334.png" alt=""></div>
              <div class="item"><img src="assets/img/1349.png" alt=""></div>
            </div>
          </div>
          <!-- <img src="./assets/img/1343.png" class="groupimg" alt="" id="img1">
                    <img src="./assets/img/1333.png" class="groupimg" alt=""  id="img2">
                    <img src="./assets/img/1356.png" class="groupimg" alt=""  id="img3">
                    <img src="./assets/img/1347.png" class="groupimg" alt=""  id="img4">
                    <img src="./assets/img/1351.png" class="groupimg" alt=""  id="img5">
                    <img src="./assets/img/1341.png" class="groupimg" alt=""  id="img6">
                    <img src="./assets/img/1359.png" class="groupimg" alt=""  id="img7">
                    <img src="./assets/img/1334.png" class="groupimg" alt=""  id="img8">
                    <img src="./assets/img/1349.png" class="groupimg" alt=""  id="img9"> -->
        </div>
      </div>
      <div class="col-sm-6">
        <div class="introducing-section">
          <p class="introducing-letter">Introducing</p>
          <p class="waffles-letter">Waffles</p>
          <p class="waffles-content">1,111 unique Waffles living on<br> the Ethereum blockchain as<br> ERC-721 tokens.
          </p>
          <button id="demo" class="mint-btn" target="_blank">{{timeLeft.days + 'd ' + timeLeft.hours + 'h '
            + timeLeft.minutes + 'm ' + timeLeft.seconds + 's '}}</button>
        </div>
      </div>
    </div>


  </div>
</section>
