<section id="project">
  <div class="whoweare">
    <div class="row">
      <div class="col-sm-6">
        <div class="whoweare-content">
          <div class="whoweare-content-main">
            <h5>Who we Are?</h5>
            <p>Waffles is 2,111 randomly generated & unique waffles carefully chosen by our bakers.</p>
            <p>Why waffles? Because we like Waffles, Pixel and Pop Art ! Waffles is our first NFT collection and we are
              planning new collections in the future.</p>
            <button class="mint-btn"> <a href="http://discord.gg/justwaffles"><span id="mint">Join us on
                  Discord</span></a></button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mint-img-group">
          <span class="mint-img"><img src="../../../assets/img/Group 21.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 22.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 23.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 24.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 25.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 41.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 29.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 28.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 27.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 26.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 31.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 32.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 33.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 34.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 35.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 36.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 37.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 38.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 42.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 40.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 41.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 42.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 43.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 44.png" alt=""></span>
          <span class="mint-img"><img src="../../../assets/img/Group 45.png" alt=""></span>
        </div>
      </div>
    </div>
  </div>
</section>
