<section id="footer">
  <div class="footer-outbox">

    <!-- <span class="tick-number">5</span> -->
    <!-- <span class="footer-circle"><i class="fas fa-circle"></i></span> -->
    
    <h5 class="footer-title">Join our channel to stay updated</h5>
    <p class="footer-social-bar">
        <span>
            <a href="https://twitter.com/JustWaffles_nft" target="_blank" style="color:#fff">
                <i class="fab fa-twitter"></i>
            </a>
        </span>
        <span>
            <a href="https://instagram.com/justwafflesnft" target="_blank" style="color:#fff">
                <i class="fab fa-instagram"></i>
            </a>
        </span>
        <span>
            <a href="http://discord.gg/justwaffles" target="_blank" style="color:#fff">
                <i class="fab fa-discord"></i>
            </a>
        </span>
    </p>
  </div>
</section>
