<section id="roadmap">
  <div class="row outbox">
    <div class="col-sm-12">
      <ul class="timeline">
        <li>
          <h5 class="roadmap-title">Roadmap</h5>
          <p class="roadmap-describe">Waflle will drop on the 17th December and will be available for our the early
            adopters on a first come first served basis. and our public sale will be on the 18th December.</p>
        </li>


      </ul>
      <ul class="timeline-number">
        <li class="sale-number">
          <span class="tick-number">1</span>
          <h5 class="sale-title">20% sale</h5>
          <p class="sale-number-content">We are going to pick 10 random Waffle owners and send one extra random waffle.
          </p>
        </li>
        <li class="sale-number">
          <span class="tick-number">2</span>
          <h5 class="sale-title">50% sale</h5>
          <p class="sale-number-content">An exclusive Waffles merch line is released. Hats, t-shirts and hoodies will be
            created and made available for minting by our community.</p>
        </li>
        <li class="sale-number">
          <span class="tick-number">3</span>
          <h5 class="sale-title">75% sale</h5>
          <p class="sale-number-content">We are giving away a once in a lifetime experience :
A luxury trip for two on the Ritz Carlton Yacht Collection, cruising through the sun-drenched coastlines of Italy, along with a flight ticket from anywhere in the world !  </p>
        </li>
        <li class="sale-number">
          <span class="tick-number">4</span>
          <h5 class="sale-title">100% sale</h5>
          <p class="sale-number-content">We will do a random drawing and announce the winner of Tesla Model 3.</p>
        </li>
      </ul>
    </div>
  </div>
</section>
